.todoContainer {
  cursor: pointer;
  padding: rem(8px) rem(8px);

  &:hover {
    border-radius: var(--mantine-radius-md);
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-2));
  }
}

.todoLabel {
  cursor: pointer;
  user-select: none;
}
